<body class = "landing-page-body">
    <div class="container-background">
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="./images/Taiga-navbar.png" alt="Taiga logo" style="width: 150px; height: 5vh;"> 
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                            <button id="myaccount-btn" style="display: none;"></button>
                                <span class="icon">
                                    <i class="fa-sharp fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
                                </span>
                                <span style="color: #ffffff; font-family: 'Raleway', sans-serif;border: none;">
                                    My Account
                                </span>
                            </a>
                        <p class="control">
                            <a class="button" href="./dinner-details.html" style="border: none; background-color: #122823;"> <!--- LINK CART HANDLEBARS PAGE IN HREF --->
                                <span class="icon">
                                    <i class="fa-sharp fa-solid fa-heart fa-sm" style="color: #ffffff;"></i>
                                </span>
                                <span style="color: #ffffff; font-family: 'Raleway', sans-serif; ">
                                    Cart
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    