{{> navbar}}
<h1>Your Cart</h1>
{{#if logged_in}}
    {{#if items.length}} 
    <p> cartData is the right name</p>
        <ul>
            {{#each items as |item|}}
                <li id="name">
                    {{item.item.name}}

                    <!-- Add other item details here -->
                </li>
                <li id="price">
                    ${{item.item.price}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
{{else}}
    <p>Please log in to view your cart</p>
{{/if}}

<script src="/js/cart.js"></script>