
{{#each categories as |category index|}}
  {{#if (lt index 4)}}
    <a href='/items/{{category}}'>
      <div class='category'>
        <h2>{{category.name}}</h2>
        <img src='{{category.imageUrl}}' alt='{{category.name}}' />
      </div>
    </a>
  {{/if}}
{{/each}}