
  <figure class="header-container">
            <h1 class="header-title">Taiga</h1>
            <h3 class="header-title">You're Eco-Conscious Marketplace</h3>
            <p id="header-p"> Welcome to Taiga, where sustainable shopping is revolutionized for the eco-conscious consumer. Effortlessly browse categories or search items, each with clear carbon, energy, and waste footprints. Our platform empowers you with eco-scores on products, making your choices both informed and impactful. Join our journey to a greener future with every purchase. </p>
        </figure>
  {{#each categories as |category index|}}
    {{#if (lt index 5)}}
      <div class="category">
        <h2>{{category.name}}</h2>
        <img src="{{category.imageUrl}}" alt="{{category.name}}">
      </div>
    {{/if}}
  {{/each}}
