
  <figure class="header-container">
            <h2 class="header-title">Palette Pair</h2>
            <p id="header-p"> Elevate your hosting experience by effortlessly planning and organizing unforgettable
                evenings. Set themes, explore curated recipes, and simplify the party planning process to create lasting
                dining memories. </p>
        </figure>
  {{#each categories as |category index|}}
    {{#if (lt index 5)}}
      <div class="category">
        <h2>{{category.name}}</h2>
        <img src="{{category.imageUrl}}" alt="{{category.name}}">
      </div>
    {{/if}}
  {{/each}}