{{> navbar}}
 <h1>Subcategories in "{{category}}"</h1>
  <div class="subcategories">
    {{log "logging this" subcategories}}
    {{#each subcategories}}
      <div class="subcategory">
        <h2>{{this}}</h2>
      </div>
    {{/each}}
  </div>


  {{!-- each item displayed needs to have an {{$itemid}} --}}
