{{> navbar}}
 <h1>Subcategories in "{{category}}"</h1>
  <div class="subcategories">
    {{#each subcategories}}
      <div class="subcategory">
        <img src="{{subcategoryimageUrl}}" alt="{{subcategory}}">
        <h2>{{subcategory}}</h2>
      </div>
    {{/each}}
  </div>