.item-details-container {
  padding: 0 50px;
  margin-top: 40px;
}

.item-detail-box {
  display: flex;
}

.item-detail-box > div {
  width: 50%;
}

.item-image-detail {
  display: flex;
  justify-content: center;
}

.item-image-detail img {
  width: calc(100% - 250px);
  border-radius: 35px;
}

.item-description-detail {
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-price-detail {
  font-family: 'Libre Baskerville';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-price-detail span {
  font-family: 'Libre Baskerville';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
}
.item-price-detail p {
  font-family: 'Libre Baskerville';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-detail-card div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-detail-card {
  padding-top: 20px;
}

.item-detail-card h1 {
  font-family: 'Libre Baskerville';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  width: max-content;
  max-width: 100%;
}

.item-detail-card h1::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.item-footprint h3 {
  font-family: 'Libre Baskerville';
  font-size: 25px;
  font-style: bold;
  font-weight: 700;
}

.item-footprint h3 {
  margin-top: 50px;
}

.footprints {
  border: 1px solid grey;
  width: 45%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footprints span {
  font-weight: 600;
  text-decoration: underline;
}
.footprints p {
  display: flex;
  justify-content: space-between;
}

.item-footprint .add-to-cart {
  border: none;
  border-radius: 35px;
  border-radius: 20px;
  background: #122823;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  font-family: 'Raleway';
  font-weight: 500;
  cursor: pointer;
}

.reviews {
  margin: 0 auto;
  width: calc(100% - 250px);
  position: relative;
  padding-top: 60px;
  padding-left: 10px;
  display: flex;
  gap: 35px;
  margin-top: 25px;
}
.reviews .review-container {
  margin-top: 15px;
}

.reviews .add-review {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  gap: 20px;
}

.add-review h2 {
  font-family: 'Raleway';
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-review button {
  border: none;
  background: none;
  text-decoration: underline;
  font-family: 'Raleway';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-detail-box {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1500px) {
  .item-image-detail img {
    width: calc(100% - 50px);
  }
  .reviews {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width: 2000px) {
  .item-image-detail img {
    width: calc(100% - 150px);
  }
  .reviews {
    width: calc(100% - 150px);
  }
}
