* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  margin-top: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: 'Libre Baskerville';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  margin: 20px;
}

.navbar-brand img {
  width: 150px;
}

.navbar-nav a {
  text-decoration: none;
  color: #122823;
}

.navbar-nav .my-account {
  background-color: #122823;
  border-radius: 20px;
  padding: 9px 16px;
  color: white;
}

.main-section {
  background-image: url('http://localhost:3001/images/HomePage-backgroundimage.png');
  background-size: cover;
  height: 700px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
  height: 100%;
  width: 80%;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  line-height: normal;
}

.main-content h1 {
  margin-top: 15px;
  font-family: Raleway;
  font-size: 175px;
  font-weight: 500;
  margin-bottom: 15px;
}

.main-content h3 {
  font-size: 35px;
  font-weight: 300;
  font-style: italic;
}

.main-content p {
  font-size: 20px;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
letter-spacing: 1px;
}
.search-items {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 100px auto 0;
}

.search-items h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.search-form {
  margin-top: 20px;
}

.new-search-form {
  display: flex;
}

.form-input-div {
  width: 70%;
}

.new-search-form button {
  height: 50px;
  background-color: #fff;
  width: 100%;
  border-radius: 30px;
  background: #fbd50d;
  border: none;
  font-size: 20px;
  font-family: 'Raleway';
  font-style: normal;
  line-height: normal;
}

.new-search-form input {
  height: 50px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  width: 100%;
  border: none;
  padding: 15px;
}

.form-button-div {
  width: 30%;
  transform: translateX(-20px);
}

#category-container h3 {
  font-size: 25px;
  font-family: "Libre Baskerville";
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 20px;
  transform: translateY(10px);
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #000;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 15px;
}

.categories div {
  position: relative;
  aspect-ratio: 1 / 1;
}

.categories a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.categories p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Libre Baskerville";
  letter-spacing: 2px;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  z-index: 6;
}
.search-categories img {
  border-radius: 35px;
  width: 90%;
  box-shadow: 4px 4px 8px 12px rgba(0, 0, 0, 0.1);

}

.categories div a::before  {
  content: "";
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 5;
  }

  @media screen and (max-width: 900px) {
  .categories {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: #000;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: yellow;
  }
}


@media screen and (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Libre Baskerville';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 5px;
  }

  .navbar-brand img {
    width: 100px;
    margin-top: 8px;
  }
  .navbar-nav {
    display: flex;
    list-style: none;
    gap: 5px;
    margin-right: 10px;
  }
  .navbar-nav .my-account {
    font-size: 10px;
    background-color: #122823;
    border-radius: 20px;
    padding: 5px 8px;
    color: white;
  }
  .main-content h1 {
    font-family: Raleway;
    font-size: 75px;
    font-weight: 600;
  }

  .main-content h3 {
    font-size: 20px;
    font-weight: 500;
  }

  .main-content p {
    font-size: 12px;
    font-weight: 400;
    padding: 0 60px;
  }

}
/* #header-p {
  margin-left: 57px;
  max-width: 50%;
  color: grey;
  font-size: 21px;
  font-family: 'Instrument Sans', sans-serif;
}
@media screen and (max-width: 600px) {
  #header-p {
      margin-top: 30px;
  } 
}

div.container {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  height: 6vh;
  max-width: 400px;
  width: 45%;
  margin-top: 50px;
  justify-content: left;
  float: left;
  margin-left: 57px;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
