.reviews-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 50px;
}

.card {
    text-decoration: none;
    color: black;
    background-color: #d8d8d8;
    border-radius: 35px;
    padding: 20px;
}

/* .card-container-reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: pink;
    border-radius: 35px;
} */

.card img{
    width: 100%;
    border-radius: 35px;
    
}
